body{
margin: 0;
font-family: Helvetica, Arial, sans-serif;
font-size: 20px;
line-height: 30px;
}

/* Header Styles */

header{
	background-color: lightsalmon;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
h1, h2{
	font-family: 'Anton', sans-serif;
}

header h1{
	color: white;
	font-size: 60px;


}
header img{
	border-radius: 150px;
    width: 200px;
    border: 20px solid coral;
}

/* Main Body Styles */
main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 20px;

}

main img{
	max-width: 100%;  
}

h2{
	font-size: 32px;
	color: lightcoral;
	margin-top: 40px 0px 10px;
}

a{
	color: lightcoral;
}

a:hover{
	color: indianred;
}

/* Footer Styles */

footer{
	background-color: lightsalmon;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0px;
}
p.caption{
	color: lightgrey;
	margin-top: 0px;
}